---
- name: Set timezone
  timezone:
    name: "{{ timezone }}"
  become: true

- name: Install Java
  yum:
    name: java
    state: latest
  become: true

- name: Add the user 'minecraft'
  user:
    name: minecraft
    comment: Manages minecraft server
    generate_ssh_key: true
  become: true
  register: minecraft_user

- name: Retrieve SSH key for user 'minecraft'
  fetch:
    src: "{{ minecraft_user.ssh_key_file }}"
    dest: "keys/{{ inventory_hostname }}.key"
    flat: true
  become: true
  become_user: minecraft

- name: Change key permissions
  command: chmod 400 "keys/{{ inventory_hostname }}"
  args:
    warn: false
  delegate_to: localhost

- name: Remove private key
  file:
    state: absent
    path: "{{ minecraft_user.ssh_key_file }}"

- name: Authorize key
  authorized_key:
    user: minecraft
    key: "{{ minecraft_user.ssh_public_key }}"
  become: true
  become_user: minecraft

- name: Create server folder
  file:
    path: "~minecraft/{{ server_folder }}"
    state: directory
  become: true
  become_user: minecraft

- name: Download server
  get_url:
    url: "{{ server_file_url }}"
    dest: "~minecraft/{{ server_folder }}/server.jar"
  become: true
  become_user: minecraft

- name: Copy eula
  copy:
    src: eula.txt
    dest: "~minecraft/{{ server_folder }}/eula.txt"
  become: true
  become_user: minecraft

- name: Add Minecraft service to systemd
  template:
    src: minecraft.service
    dest: /etc/systemd/system/minecraft.service
  become: true

- name: Enable and start Minecraft service
  systemd:
    name: minecraft.service
    enabled: true
    state: started
  become: true

- name: Grant 'minecraft' user control of Minecraft service
  lineinfile:
    path: /etc/sudoers
    line: "minecraft ALL= NOPASSWD: /usr/bin/systemctl {{ item }} minecraft.service"
  loop:
    - stop
    - start
    - restart
  become: true

- name: Define aliases for starting and stopping the server
  lineinfile:
    path: ~minecraft/.bashrc
    line: "alias {{ item }}=\"sudo systemctl {{ item }} minecraft.service\""
  loop:
    - stop
    - start
    - restart
  become: true
  become_user: minecraft

- name: Define aliases for managing the server
  blockinfile:
    path: ~minecraft/.bashrc
    block: |
      alias status="systemctl status minecraft.service"
      alias console="screen -r mc"
  become: true
  become_user: minecraft


